<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664696754771-cd6bskqj7r5juf60cqhgs152h259vn99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664696754771-cd6bskqj7r5juf60cqhgs152h259vn99</string>
	<key>API_KEY</key>
	<string>AIzaSyAqbz3X4Bh9qIv6pp3RJ6FjsPWHrvezz5g</string>
	<key>GCM_SENDER_ID</key>
	<string>664696754771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter2</string>
	<key>PROJECT_ID</key>
	<string>flutter2-933ad</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter2-933ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664696754771:ios:c3047d2af2732f2f4beca6</string>
</dict>
</plist>